{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'story9/css/login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% endblock style %}
    <title> Kegiatan Kak PW </title>
</head>


<body>
    {%block content%}
    <section id="login">
        <div class="container col">
            <div class="top">
                <h5 id="light">1 Langkah Menuju</h5>
                <h5 id="bold">Melihat Thumbnail Lucu</h5>
            </div>

            <div class="middle">
                <form action="/loginAkun/" method="POST"> 
                    {%csrf_token%}
                    {{form.as_p}}

                    {%if messages%}
                        {%for message in messages%}
                            <p id="message"> {{message}} </p>
                        {%endfor%}
                    {%endif%}
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </section>
    <script src="{% static 'story8/javascript/ajax.js' %}" type="text/javascript"></script>
    {%endblock content%}
</body>
</html>