{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'story7/css/kegiatan.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <script>
        $(document).ready(function(){
            $(".accordionHead").click(function(){
                $(".accordionHead").removeClass("active");
                $(this).addClass("active");
            });
            $("#buttonDown").click(function(){
                $("#accordionWrapper2").slideDown();
            });
        });
    </script> -->
    {% endblock style %}
    <title> Kegiatan Kak PW </title>
</head>

{%block content%}
<body>
    <section id="kegiatan">
        <div class="container">
            <div class="accordionKegiatan" id="accordionKegiatan">
            
                <div class="accordionWrapper">
                    <div class="accordionHead">
                        <div class="judul">
                            <h6> Aktivitas Saat Ini </h6>
                        </div>
                        
                        <div class="buttonUpDown">
                            <svg class="buttonDown" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                            </svg>
                            <svg class="buttonUp" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </div>

                    </div>
                    <div class="accordionBody">
                        <p>
                            Aktivitas saya saat ini adalah kuliah di Fakultas Ilmu Komputer Universitas Indonesia.
                            Namun karena adanya pandemi saya kuliah dari rumah. Setiap pagi, saya langsung pindah dari tempat tidur ke kursi dan langsung masuk ke zoom meeting.
                            Setelah seharian kuliah, saya tidur.
                        </p>
                    </div>
                </div>

                <div class="accordionWrapper">
                    <div class="accordionHead">
                        <div class="judul">
                            <h6> Organisasi/Kepanitiaan </h6>
                        </div>
                        <div class="buttonUpDown">
                            <svg class="buttonDown" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                            </svg>
                            <svg class="buttonUp" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="accordionBody">
                        <p>
                            <div class="col">
                                Organisasi/Kepanitiaan yang saya ikuti saat ini hanyalah : 
                                <ul>
                                    <li> Staff Media BEM Fasilkom UI 2020 </li>
                                </ul>
                                Organisasi/Kepanitiaan yang pernah saya ikuti : 
                                <ul>
                                    <li> Staff Akademis BETIS 2020 </li>
                                    <li> Divisi Dekorasi Smanitra Cup </li>
                                    <li> Divisi Dekorasi Nitrackers </li>
                                    <li> Raketnitra </li>
                                    <li> SUDOKU </li>
                                    <li> MB Nesta </li>
                                    <li> KIR Biologi Nesta </li>
                                </ul>
                            </div>
                        </p>
                    </div>
                </div>

                <div class="accordionWrapper">
                    <div class="accordionHead" id="accordionHead3">
                        <div class="judul">
                            <h6> Prestasi </h6>
                        </div>
                        
                        <div class="buttonUpDown">
                            <svg class="buttonDown" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                            </svg>
                            <svg class="buttonUp" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="accordionBody">
                        <p>
                            <div class="col">
                                Sebenarnya saya juga belum tahu harus mengisi apa, <br>
                                jadi saya isi dengan lomba-lomba santuy atau lomba-lomba old
                                <ul>
                                    <li> Lomba Mewarnai Agustusan </li>
                                    <li> Lomba Mewarnai Disponsori Coklat </li>
                                    <li> Outstanding Student LIA </li>
                                    <li> OSK dan OSP IPA saat SD </li>
                                    <li> 'Terngaji' saat TK </li>
                                </ul>
                                Semoga saya lekas memiliki prestasi lainnya
                            </div> 
                        </p>
                    </div>
                </div>

                <div class="accordionWrapper">
                    <div class="accordionHead" id="accordionHead4">
                        <div class="judul">
                            <h6> Hobi </h6>
                        </div>
                        
                        <div class="buttonUpDown">
                            <svg class="buttonDown" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                            </svg>
                            <svg class="buttonUp" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="accordionBody">
                        <p>
                            <div class="col">
                                Hobi saya ketika liburan :
                                <ul>
                                    <li> Nonton drakor </li>
                                    <li> Nonton yutub </li>
                                    <li> Ngidol </li>
                                    <li> Membuat Kue </li>
                                    <li> Workout </li>
                                </ul>
                                Hobi saya saat kuliah : 
                                <ul>
                                    <li> Kuliah </li>
                                </ul>
                            </div>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <script src="{% static 'story7/javascript/kegiatan.js' %}" type="text/javascript"></script>
</body>
{%endblock content%}
</html>