{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <link rel="stylesheet" href="{% static 'story4/css/profile2.css' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% endblock style %}
    <title> Website Kak PW </title>
</head>

<body>
    {% block content %}
    <section id="homepage">
        <div class="homepage col">
            <div class="middle row">
                <div class="text col">
                    <h1>Hi!</h1>
                    <h2>Annisa Devi<br>Nurmalasari's here</h2>
                    <h3>|  Computer Science  |</h3>
                    <a href="#profile">
                        <img id="button" src="{% static 'story4/img/AboutmeButton.png' %}" alt="Foto">
                    </a>
                </div>
                    <img id="fotobesar" src="{% static 'story4/img/Foto3.png' %}" alt="Foto">
            </div>
            <img id="gelombang" src="{% static 'story4/img/Gelombang1.png' %}" alt="asset">
    </section>
    <section id="profile">
        <div class="profile col">
            <h4>ABOUT ME</h4>
            <div class="kontenprofile row">
                <div class="deskripsi col">
                    <img id="fotokecil" src="{% static 'story4/img/deskripsifoto.png' %}" alt="Foto">
                    <p>
                        Hello, my name is Annisa Devi Nurmalasari but you can call me Icha/Ichul. I’m 19 years old and<br>from Tangerang. Now, i’m a college student of Computer Science in Universitas Indonesia
                    </p>
                </div>
                <img id="rectangle1" src="{% static 'story4/img/Rectangle1.png' %}">
                <div class="datadiri col">
                    <h5>Name</h5>
                    <h6>Annisa Devi Nurmalasari</h6>
                    <h5>Age</h5>
                    <h6>19</h6>
                    <h5>Date of Birth</h5>
                    <h6>Tangerang, December 11th 2000</h6>
                    <h5>Website</h5>
                    <h6>annisadevi.herokuapp.com</h6>
                    <h5>Contact</h5>
                    <h6>adevi.nurmalasari@gmail.com</h6>
                    <h5>Jobs</h5>
                    <h6>Student of Computer Science</h6>
                    <h5>Hobby</h5>
                    <h6>Youtube-ing, Idol-ing, Cake Making</h6>
                </div>
            </div>
            <img id="asetoval1" src="{% static 'story4/img/AsetOval1.png' %}">
        </div>
    </section>
    <section id="academics">
        <div class="academics col">
            <h4>ACADEMICS</h4>
            <div class="kontenacademics row">
                <div class="education col">
                    <h4>Educational Level</h4>
                    <h5>SDN Sukasari 4</h5>
                    <h6>year 2006-2013</h6>
                    <h5>SMPN 1 Kota Tangerang</h5>
                    <h6>year 2013-2016</h6>
                    <h5>SMAN 1 Kota Tangerang</h5>
                    <h6>year 2016-2019</h6>
                    <h5>Universitas Indonesia</h5>
                    <h6>year 2019 till now</h6>
                </div>
                <img id="bulet2" src="{% static 'story4/img/Bulet2.png' %}">
                <div class="experiences col">
                    <h4>Experiences</h4>
                    <h5>@ADStarShop owner</h5>
                    <h5>Member of School’s<br>Marching Band</h5>
                    <h5>Secretary of Raketnitra<br>Decoration Staff of Smanitra Cup<br>2017, 2019, and Nitrackers<br>Dropshipper (@cvonlinestore)</h5>
                    <h5>Academic Staff of BETIS<br>Media Staff of BEM Fasilkom UI</h5>
                </div>
            </div> 
            <img id="asetoval2" src="{% static 'story4/img/AsetOval2.png' %}">    
            <img id="gelombang" src="{% static 'story4/img/Gelombang2.png' %}" alt="asset">
        </div>
    </section>
    <section id="skills">
        <div class="col">
        <div class="kontenskills row">
            
            <div class="personalities col">
                <h4>PERSONALITIES</h4>
                <h5>Honesty</h5>
                <h5>Responsibilities</h5>
                <h5>Persistence</h5>
                <h5>Leadership</h5>
                <img id="param1" src="{% static 'story4/img/Parameter1.png' %}" alt="param">
            </div>
            
            <div class="skills col">
                <h4>SKILLS</h4>
                <h5>Python, Java</h5>
                <h5>HTML, CSS</h5>
                <h5>Figma</h5>
                <h5>Photoshop</h5>
                <h5>Premiere Pro</h5>
                <h5>PicsArt wkwk</h5>
                <img id="param2" src="{% static 'story4/img/Parameter2.png' %}" alt="param">
            </div>
            <img id="asetoval3" src="{% static 'story4/img/AsetOval3.png' %}" alt="asset">
        </div>
        </div>
    </section>
    
    {% endblock content %}
</body>
</html>