{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <link rel="stylesheet" href="{% static 'story5/css/matkul.css' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% endblock style %}
    <title> Website Kak PW </title>
</head>

{% block content %}
<body>
    <section id="tabeldetail">
        <h4> Detail Mata Kuliah: </h4>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Keterangan</th>
                <th scope="col">Komponen</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> Nama Mata Kuliah </td>
                <td> {{matkultujuan.namamatkul}} </td>
            </tr>
            <tr>
                <td> Dosen Pengajar </td>
                <td> {{matkultujuan.dosen}} </td>
            </tr>
            <tr>
                <td> Jumlah SKS </td>
                <td> {{matkultujuan.sks}} </td>
            </tr>
            <tr>
                <td> Deskripsi </td>
                <td> {{matkultujuan.deskripsi}} </td>
            </tr>
            <tr>
                <td> Semester Tahun</td>
                <td> {{matkultujuan.semester}} </td>
            </tr>
            <tr>
                <td> Ruang Kelas</td>
                <td> {{matkultujuan.ruang}} </td>
            </tr>
            </tbody>
        </table>
        <a href="{% url 'story5:simpanmatkul' %}">
            <button class="btn btn-primary">Kembali</button>
        </a>
    </section>
    <img id="asetoval3" src="{% static 'story5/img/AsetOval3.png' %}" alt="asset">
</body>
{% endblock content %}

</html>