{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <link rel="stylesheet" href="{% static 'story5/css/matkul.css' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% endblock style %}
    <title> Website Kak PW </title>
</head>

{%block content%}
<body>
    <section id="matakuliah">
        <div class="matakuliah col">
            <h4> MATA KULIAH YANG SAYA AMBIL </h4>
            <div class="middle row">
                <form action="simpanmatkul" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.as_p}}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Nama Mata Kuliah</th>
                        <th scope="col">Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if matkul %}
                        {% for i in matkul %}
                      <tr>
                        <td> {{i.namamatkul}} </td>
                        <td> 
                            <a href="{% url 'story5:detailmatkul' i.id %}"> 
                                <button class="btn btn-primary intabel">Detail</button>
                            </a> </td>
                        <td> 
                            <a href="{% url 'story5:hapusmatkul' i.id%}"> 
                                <button class="btn btn-primary intabel" method="POST">Hapus</button>
                            </a> 
                        </td>
                      </tr>
                      {%endfor%}
                        {%endif%}
                    </tbody>
                  </table>
            </div>
        </div>
        
    </section>
    
    
</body>
{%endblock content%}
</html>