.navbar{
    background-color: #353535;
    color: white;
  }
  
  #logo{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .footer.col{
    background-color: #353535; 
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: normal;
    
  }
  
  .sosmed{
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
  }
    /* ICON SOSMED */
   
    #instagram{
        margin-top: 20px;
        width: 54px;
        height: 54px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    #instagram:hover{
        opacity: 0.5;
    }
    #line{
        margin-top: 20px;
        width: 54px;
        height: 54px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    #line:hover{
        opacity: 0.5;
    }
    #twitter{
        margin-top: 20px;
        width: 58px;
        height: 44px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    #twitter:hover{
        opacity: 0.5;
    }
    #email{
        margin-top: 20px;
        width: 68px;
        height: 54px;
        margin-bottom: 30px;
        
    }
    #email:hover{
        opacity: 0.5;
    }

.nav.navbar-nav.navbar-right{
    margin-left: 40%;
}