#ajax{
    background-color: #353535;
    color: white;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer.col{
    background-color: #D0BABD;
}

.searchbox{
    padding: 50px;
}

.list{
    padding: 50px;
}

#tableHead{
    background-color: #D0BABD;
    color: #353535;
    
}

#listBuku{
    background-color: black;
    color: white;
}

#linkInfo{
    color: #D0BABD;
}

h5{
    padding-top: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Login */
#login{
    background-color: #353535;
    color: white;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    text-align: right;
    margin-right: 5%;
}