#matakuliah{
    background-color: #4E5F7B;
    color: white;
}

.navbar{
    background-color: #4E5F7B;
}

h4{
    padding-top: 50px;
    text-align: center;
    font-weight: bolder;
    color: white;
}

.middle.row{
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 100px;
    
}

.table-hover.table-dark{
    margin-top: 50px;
    width: 30%;
    background-color:  #3C4960;
    padding-left: 250px;
}

.form-group{
    width: 300px;
    margin-right: 250px;
}

.btn.btn-primary{
    background-color: #3C4960;
    border-color: #3C4960;
    margin-top: 20px;
}

.btn.btn-primary:hover{
    background-color: #3C4960;
    opacity: 0.5;
    border-color:#3C4960;
}

.btn.btn-primary.intabel{
    background-color: #4E5F7B;
    border-color: white;
    margin-top: 0px;
}

.btn.btn-primary.intabel:hover{
    background-color: #3C4960;
}

#tabeldetail{
    background-color: #4E5F7B;
    padding-left: 150px;
    padding-bottom: 50px;
}

#tabeldetail h4{
    text-align: left;
}

#asetoval3{
    margin-top: -1200px;
    margin-left: -50px;
    
}


.footer.col{
    margin-top: -25px;
    background-color : #3C4960;
}

@media only screen and (max-width: 750px) {
    .middle.row{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}