#login{
    background-color: #353535;
    color: white;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#register{
    background-color: #353535;
    color: white;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer.col{
    background-color: #D0BABD;
}

#light{
    font-weight: lighter;
}

#bold{
    font-weight: bold;
}

.container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.top{
    padding-left: 100px;
    padding-right: 60%;
    padding-bottom: 20px;
}

.middle{
    padding-left: 100px;
    padding-right: 60%;
}

.btn.btn-primary{
    margin-top: 20px;
    background-color: #D0BABD;
}

.btn.btn-primary:hover{
    background-color: #D0BAC4;
}
