{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'story8/css/ajax.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% endblock style %}
    <title> Kegiatan Kak PW </title>
</head>


<body>
    {%block content%}
    <section id="ajax">
        <div class="container">
            <h5> Book Search : </h5>
            <div class="searchbox">
                <input id="search" placeholder="Please enter the keyword" class="form-control">
            </div>
        </div>
        <div class="container">
            {%if not user.is_authenticated%}
                <p>Login untuk melihat thumbnail</p>
            {%endif%}
            <div class="list">
                <table class="table table-hover table-dark" id="bookTable">
                    <thead id="tableHead">
                      <tr>
                        <th scope="row">No.</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Link</th>
                        <th scope="col">Thumbnail</th>
                      </tr>
                    </thead>
                    <tbody id="listBuku">
                    </tbody>
                  </table>
            </div>
        </div>
    </section>
    <script src="{% static 'story8/javascript/ajax.js' %}" type="text/javascript"></script>
    {%endblock content%}
</body>
</html>