#kegiatan{
    background-color: #353535;
    color: white;
    font-weight: lighter;
}

.footer.col{
    background-color: #D0BABD;
}

.accordionKegiatan{
    padding: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.accordionHead{
    cursor: pointer;
    width: 100%;
    height: 50px;
    background-color: #D0BABD;
    padding: 15px;
    color: #353535;
    border-bottom: 2px solid #9A8688;
    position: relative;
    display: flex;
    flex-direction: row;
}

.accordionHead:hover{
    border-bottom: 2px solid white;
}

.accordionWrapper:first-child .accordionHead{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.accordionWrapper:last-child .accordionHead{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.accordionWrapper:last-child .accordionHead:hover{
    border-bottom: 2px solid #353535;
}

/* .accordionHead::before,
.accordionHead::after{
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 20px;
    right: 15px;
    background: #353535;
} */

/* .accordionHead::after{
    transform: rotate(-90deg);
    transition: all 0.5s;
} */

.accordionBody{
    width: 100%;
    height: 0px;
    background-color: #232323 ;
    overflow: hidden;
}

.accordionWrapper:last-child .accordionBody{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.accordionBody p{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.accordionWrapper:last-child .accordionHead.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* .accordionHead.active::after{
    transform: rotate(0);
} */

.accordionHead.active + .accordionBody{
    height: 50%;
}

svg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.buttonUpDown{
    display: flex;

}

.buttonUpDown2{
    display: flex;
}

.buttonUpDown3{
    display: flex;
}

.buttonUpDown4{
    display: flex;
}

.buttonUpDown5{
    display: flex;
}

.buttonUp:hover{
    opacity: 0.5;
}

.buttonDown:hover{
    opacity: 0.5;
}

.accordionHead{
    justify-content: space-between;
}
